.dee{
    background-color: blueviolet;
}

.head-padd{
    padding-left: 5vh;
}

.padd{
    margin: 5vh;
    padding: 10vh;
}

.foo{
    
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(237, 240, 244);
    
}
ul {
    list-style-type: circle;
}

.div-padd{
   margin-left: 25vh;
   margin-right: 25vh;
}